@font-face {
    font-family: 'Courgette';
    src: url('../fonts/courgette/Courgette-Regular.ttf');
}

@font-face {
    font-family: 'Major Mono Display';
    src: url('../fonts/major-mono-display/MajorMonoDisplay-Regular.ttf');
}