@charset "UTF-8";

:root {
    --bg-yellow: #FFD684;
    --bg-brown: #E69650;
    --text-light: #ffffff;
    --bg-red: #C62E2A;
}

.w-35 {
    width: 35%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Courgette';
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 80px;
}

h3 {
    font-size: 60px;
}

h4 {
    font-size: 40px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 17px;
}

span {
    font-family: 'Major Mono Display';
}

p {
    font-family: 'DM Serif Display Italic';
}

.major-font {
    font-family: 'Major Mono Display';
}

.courgette {
    font-family: 'Courgette';
}

.fs-58 {
    font-size: 58px;
}

.fs-54 {
    font-size: 54px;
}

.fs-50 {
    font-size: 50px;
}

.fs-44 {
    font-size: 44px;
}

.fs-36 {
    font-size: 36px;
}

.bg-yellow {
    background: var(--bg-yellow);
}

.btn-yellow:hover {
    background-color: var(--bg-red);
}

.bg-brown {
    background: var(--bg-brown);
}

.btn-yellow {
    background-color: var(--bg-yellow);
}

.btn-brown {
    background-color: var(--bg-brown);
    color: var(--text-white);
}

.list-style-none {
    list-style: none;
}

.nav-link {
    background-color: var(--bg-brown);
    color: var(--text-light);
    margin: 0px 0px 0px 4px;
    transition: 0.4s;
}

.nav-link:hover {
    color: var(--text-light);
    border-radius: 20px;
    text-decoration: underline;
}

.weight-100 {
    font-weight: 100;
}

.border-bottom-dashed {
    border-bottom: 2px dashed #fff;
}

.btn-red {
    background-color: var(--bg-red);
    color: var(--text-light);
}

.btn-red:hover {
    background-color: #c62f2ae5;
    color: var(--text-light);
}